<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
      data-bs-target="#nav-home" type="button" role="tab" aria-selected="true">Home</button>

    <button class="nav-link" id="nav-recommendations-tab" data-bs-toggle="tab"
      data-bs-target="#nav-recommendations" type="button" role="tab" aria-selected="false">Recommendations</button>

  </div>
</nav>