/* Navigation tab styles*/
 
 #nav-recommendations {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    font-weight: semi-bold;
}

#nav-recommendations h4 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--bs-primary);
}

#nav-home{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}   

#nav-contact-tab{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

/* Inventory and Chart Sidebar Styles */
#chartSidebar {
  width: 100%;
  max-width: 500px;
  min-width: 280px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--bs-primary);
}

#inventoryTable {
  max-width: 50%;
}

.inventory-container {
  width: 100%;
  gap: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inventory-container h1 {
  font-weight: bold;
  color: var(--bs-primary);
  text-align: center;
}

.inventory-container h4 {
  font-weight: semi-bold;
  margin: 0;
}


/* Product Recommendation Square Styles */
.product-card {
  height: 180px;
  object-fit: contain;
}

.api-card {
  height: 180px;
  object-fit: contain;
}


/* Button Styles */
#addItemBtn {
  background-color: var(--bs-success);
  color: white;
  border-style: none;
  border-radius: 4px;
}

#saveInventoryBtn {
  background-color: var(--bs-primary);
  color: white;
  border-style: none;
  border-radius: 4px;
}

#resetInventoryBtn {
  background-color: var(--bs-danger);
  color: white;
  border-style: none;
  border-radius: 4px;
}

